CONFIG_OVERLAY_DTB=y
CONFIG_HWDOM_LINUX_CMA=y
CONFIG_STATIC_MEMORY=y
CONFIG_IOREQ_SERVER=y
# CONFIG_XSM is not set
CONFIG_ARGO=y
# CONFIG_TRACEBUFFER is not set
CONFIG_LLC_COLORING=y
# CONFIG_HAS_NS16550 is not set
# CONFIG_HAS_MVEBU is not set
# CONFIG_HAS_MESON is not set
# CONFIG_HAS_SCIF is not set
CONFIG_ARM_SMMU_V3=y
CONFIG_EXPERT=y
# CONFIG_DEBUG_LOCKS is not set
# CONFIG_SCRUB_DEBUG is not set
# CONFIG_XMEM_POOL_POISON is not set
