config 64BIT
	bool

config NR_CPUS
	int "Maximum number of CPUs"
	range 1 4095
	default "256" if X86
	default "8" if ARM && RCAR3
	default "4" if ARM && QEMU
	default "4" if ARM && MPSOC
	default "128" if ARM
	help
	  Controls the build-time size of various arrays and bitmaps
	  associated with multiple-cpu management.  It is the upper bound of
	  the number of logical entities the scheduler can run code on.

	  For CPU cores which support Simultaneous Multi-Threading or similar
	  technologies, this the number of logical threads which Xen will
	  support.

config LLC_COLORING
	bool "Last Level Cache (LLC) coloring" if EXPERT
	depends on HAS_LLC_COLORING

config NR_LLC_COLORS
	int "Maximum number of LLC colors"
	default 128
	depends on LLC_COLORING
	help
	  Controls the build-time size of various arrays associated with LLC
	  coloring. Refer to the documentation for how to compute the number
	  of colors supported by the platform.
	  The default value corresponds to an 8 MiB 16-ways LLC, which should be
	  more than what needed in the general case.
	  Note that if, at any time, a color configuration with more colors than
	  the maximum is employed, an error is produced.

config BUDDY_ALLOCATOR_SIZE
	int "Buddy allocator reserved memory size (MiB)"
	default "64"
	depends on LLC_COLORING
	help
	  Amount of memory reserved for the buddy allocator to work alongside
	  the colored one. The colored allocator is meant as an alternative to the
	  buddy allocator because its allocation policy is by definition
	  incompatible with the generic one. Since the Xen heap is not colored yet,
	  we need to support the coexistence of the two allocators and some memory
	  must be left for the buddy one.
